[submodule "liquid-fixpoint"]
	path = liquid-fixpoint
	url = https://github.com/ucsd-progsys/liquid-fixpoint.git
[submodule "liquidhaskell-core"]
	path = liquidhaskell-core
	url = https://github.com/spinda/liquidhaskell.git
[submodule "liquidhaskell-std"]
	path = liquidhaskell-std
	url = https://github.com/spinda/liquidhaskell-std.git

