[submodule "liquid-fixpoint"]
	path = liquid-fixpoint
	url = git@github.com:ucsd-progsys/liquid-fixpoint.git
[submodule "liquidhaskell"]
	path = liquidhaskell
	url = git@github.com:spinda/liquidhaskell.git
	branch = gsoc2015
[submodule "liquidhaskell-lang"]
	path = liquidhaskell-lang
	url = git@github.com:spinda/liquidhaskell-lang.git
[submodule "liquid-ghc-prim"]
	path = liquid-ghc-prim
	url = git@github.com:spinda/liquid-ghc-prim.git
[submodule "liquid-base"]
	path = liquid-base
	url = git@github.com:spinda/liquid-base.git
