[submodule "liquid-fixpoint"]
	path = liquid-fixpoint
	url = https://github.com/ucsd-progsys/liquid-fixpoint.git
[submodule "liquidhaskell"]
	path = liquidhaskell
	url = https://github.com/spinda/liquidhaskell.git
	branch = gsoc2015
[submodule "liquid-ghc-prim"]
	path = liquid-ghc-prim
	url = https://github.com/spinda/liquid-ghc-prim.git
[submodule "liquid-base"]
	path = liquid-base
	url = https://github.com/spinda/liquid-base.git
